.notification {
    display: flex;
  
    .notificationContainer {
      flex: 6;
  
      .widgets{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-right: 40%;
        gap: 20px;
      }
      
    }
  }
  